<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Vagas Disponiveis</title>
</head>
<body class="bg-white h-screen  ">

<nav class=" bg-green-900 p-2">
    <div class="mx-auto max-w-7xl">
        <div class="relative flex h-16 items-center justify-between text-white

         text-lg font-semibold px-2 sm:px-6 lg:px-8">
            <div class="space-x-4">

                <!-- item selecionado  -->
                <a href="/candidato/perfil">
                    Perfil
                </a>
                <a href="/candidato/vagas" class="bg-green-700 rounded-md px-3 py-2">
                    Busca de Vagas
                </a>
                <a href="/candidato/vagas/lista">
                    Listagem de Vagas
                </a>


            </div>
            <h1 class="text-white text-3xl">
                Gestão de Vagas
            </h1>

            <a href="/candidato/logout" class="text-white text-lg font-semibold">
                Logout
            </a>

        </div>
</nav>


<div class="container mx-auto mt-8 text-center">
    <form>
        <input type="text" name="filter" class="bg-gray-200 text-gray-500 rounded w-96 p-2 focus:outline-none"
               placeholder="Busca de vagas"/>
        <button class="bg-green-600 hover:bg-green-500 text-white w-24 p-2 ml-2 rounded">Buscar</button>
    </form>

    <!--<div class="max-w-md mx-auto mt-10">-->

    <!--    <div class="grid gap-4 grid-cols-3 grid-rows-3">-->


    <form th:action="@{/candidato/vagas/inscricao}" method="post"
          class="grid gap-4 grid-cols-3 grid-rows-3 mt-8"

    >

        <!--lista de vagas th:each-->
        <div th:each="vaga:${vagas}" class="text-white bg-green-800 rounded-lg p-4 mb-4 shadow-md">
            <!--hidden oculto -->
            <input type="hidden" name="vagaId" th:value="${vaga.id}">

            <h3 th:text="${vaga.description}" class="font-bold text-2xl mb-2"></h3>
            <div class=" text-justify flex">

                <span class="mr-1 font-bold">Nivel da Vaga:   </span>
                <span th:text="${vaga.nivelDaVaga}"></span>
            </div>
            <div class=" text-justify flex ">
                <span class=" mr-1 font-bold">Beneficio: </span>
                <span th:text="${vaga.beneficio}"></span>
            </div>

            <div class=" text-justify flex">

                <span class="mr-1 font-bold">Modalidade da Vaga:   </span>
                <span th:text="${vaga.modalidadeVaga}"></span>
            </div>

            <div class=" text-justify flex">

                <span class="mr-1 font-bold">Requisitos da Vaga:   </span>
                <span th:text="${vaga.requisitos}"></span>
            </div>


            <button class="  bg-gray-500 hover:bg-gray-400 font-bold py-2 px-4 rounded mt-4 ">Candidatar-Se</button>


        </div>
    </form>
</div>


</div>

</body>
</html>