<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Gestão de Vagas</title>
</head>
<body class="bg-green-950 h-screen items-center   flex-col flex justify-center">

<div class="text-white  text-6xl  pb-10" >
    Gestão de Vagas
</div>
<div class="text-white  text-6xl flex pb-4" >




    <a href="/candidato/login" class="bg-green-900 p-4 mr-4 rounded  hover:bg-green-700">Login Candidato</a>

    <a href="/empresa/login" class="bg-green-900 p-4 rounded hover:bg-green-700">Login Empresa</a>

</div>
<p class="p-10 text-white text-2xl">Não tem Cadastro clique aqui para se Cadastrar </p>

<div class="text-white  text-6xl flex pb-4" >




    <a href="/candidato/cadastro" class="bg-green-900 p-4 mr-4 rounded  hover:bg-green-700">Cadastro Candidato</a>

    <a href="/empresa/cadastro" class="bg-green-900 p-4 rounded hover:bg-green-700">Cadastro Empresa</a>

</div>


</body>
</html>